<a href="https://colab.research.google.com/github/JohnSubhani/JohnSubhani/blob/main/task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
df1=pd.read_csv("/content/college_1 (1).csv")

In [4]:
df2=pd.read_csv("/content/college_2 (1).csv")

In [5]:
df1.head(5)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0

In [6]:
df2.head(5)

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,0

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [15]:
data=pd.concat([df1,df2])

In [16]:
print(data)

             Name  python  mysql  Previous Geekions  CodeKata Score  \
0       A.Dharani    82.0   20.0              24500           24500
1     V.JEEVITHA     82.0   20.0              21740           21740
2     HEMAVATHI.R   100.0  100.0              19680           19680
3     Mugunthan S   100.0   47.0              10610           10610
4     Sathammai.S   100.0    8.0               8980            8980
..            ...     ...    ...                ...             ...
30  praveen raj j    24.0    0.0               2380            2380
31     AMARNATH D    -1.0   12.0               1890            1890
32           bala    32.0    0.0               1720            1720
33           XY Z    -1.0   -1.0                  0               0
34      Hariharan    -1.0   -1.0                  0               0

                                   Department  Rising  python_en  \
0            Computer Science and Engineering       0        NaN
1            Computer Science and Engineering       0        NaN
2            Computer Science and Engineering       0        NaN
3            Computer Science and Engineering       0        NaN
4            Computer Science and Engineering       0        NaN
..                                        ...     ...        ...
30           Computer Science and Engineering       0       -1.0
31  Electronics and Communication Engineering       0       52.0
32  Electronics and Communication Engineering       0       49.0
33           Computer Science and Engineering       0       20.0
34           Computer Science and Engineering       0       -1.0

    computational_thinking
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
..                     ...
30                     0.0
31                    -1.0
32                    -1.0
33                    -1.0
34                     0.0

[119 rows x 9 columns]

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [17]:
exceed=data[data["CodeKata Score"]>15000]

In [18]:
exceed.to_csv("Exceeded expectations.csv ")
exceed

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
0,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

In [19]:
reached=data[data["CodeKata Score"].between(10000,15000)]

In [20]:
reached.to_csv("Reached_expectations.csv")
reached

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
1,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
2,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
3,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

In [21]:
improve=data[data["CodeKata Score"].between(7000,10000)]

In [22]:
improve.to_csv("Needs_Improvement.csv")
improve

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
4,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
5,Poojitha Y,0.0,35.0,7210,8970,Computer Science and Engineering,1760,78.0,0.0
6,Gowtham Chandrasekaran,-1.0,0.0,7250,8950,Computer Science and Engineering,1700,0.0,3.0
7,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
8,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
9,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
10,Rushitha,-1.0,62.0,7470,8090,Computer Science and Engineering,620,15.0,9.0
11,Balaraman Muthupandi,-1.0,0.0,7670,8050,Computer Science and Engineering,380,9.0,0.0
12,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
13,SRIRAMKUMAR B,-1.0,0.0,6400,7940,Computer Science and Engineering,1540,0.0,0.0
14,Praneetha,-1.0,100.0,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
15,Rahul Raj K,-1.0,0.0,6280,7640,Computer Science and Engineering,1360,0.0,0.0
16,Guhan S,-1.0,35.0,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
17,Suryarajan S,-1.0,31.0,6710,7550,Computer Science and Engineering,840,63.0,0.0

In [23]:
unsatisfact=data[data["CodeKata Score"]<7000]

In [24]:
unsatisfact.to_csv("Unsatisfactory.csv")
unsatisfact

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
30,praveen raj j,24.0,0.00,2380,2380,Computer Science and Engineering,0,-1.0,0.0
31,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
32,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
33,XY Z,-1.0,-1.00,0,0,Computer Science and Engineering,0,20.0,-1.0
34,Hariharan,-1.0,-1.00,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [26]:
averageprev=data["Previous Geekions"].sum()/len(data["Name"])
averageprev

3842.3529411764707

In [27]:
averagethis=data["CodeKata Score"].sum()/len(data["Name"])
averagethis

4051.764705882353

###### No of students participated

In [29]:
stud=len(data["Name"])
stud

119

###### #Average completion of python course or my_sql or python english or computational thinking

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [32]:
data.nlargest(3,"Rising")

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
2,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
18,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [34]:
data.nlargest(3,"CodeKata Score")

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [49]:
fig=px.pie(data,names="Department",values="CodeKata Score",title="Codekata Performance Dept-wise")
fig.update_traces(title_font_size=1,text_position="outside")

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [36]:
cse=data[data["Department"]=="Computer Science and Engineering"]
cse

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
27,Vimalesh Fernando,-1.0,0.0,4170,4170,Computer Science and Engineering,0,0.0,0.0
28,M.Karthikeyan,-1.0,4.0,4020,4020,Computer Science and Engineering,0,0.0,6.0
30,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
33,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
34,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [37]:
max1=cse["CodeKata Score"].max()
max1

24500

In [40]:
ece=data[data["Department"]=="Electronics and Communication Engineering"]
ece

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
6,KALAIARASAN K,85.0,47.00,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
14,Melvin Dukles.R,56.0,20.00,4800,4800,Electronics and Communication Engineering,0,NaN,NaN
17,v.vithyasri,100.0,12.00,4370,4370,Electronics and Communication Engineering,0,NaN,NaN
18,Abirami Anbazhagan,100.0,0.00,4320,4320,Electronics and Communication Engineering,0,NaN,NaN
21,kamalishwari,32.0,20.00,3665,3665,Electronics and Communication Engineering,0,NaN,NaN
25,Tpavithra,100.0,24.00,3200,3200,Electronics and Communication Engineering,0,NaN,NaN
27,shankari,87.5,20.00,3000,3000,Electronics and Communication Engineering,0,NaN,NaN
32,SarumathiR,16.0,35.00,2240,2240,Electronics and Communication Engineering,0,NaN,NaN
35,Barath D,74.0,4.00,1910,1910,Electronics and Communication Engineering,0,NaN,NaN
39,vignesh,85.0,0.00,1740,1740,Electronics and Communication Engineering,0,NaN,NaN
42,ABIRAMI.S,82.0,0.00,1580,1580,Electronics and Communication Engineering,0,NaN,NaN
43,v.gowsalya,53.0,50.00,1440,1440,Electronics and Communication Engineering,0,NaN,NaN
46,siva sai perumal polisetti,100.0,12.00,1240,1240,Electronics and Communication Engineering,0,NaN,NaN
47,MadhumathiB,16.0,35.00,1130,1130,Electronics and Communication Engineering,0,NaN,NaN
49,bavithra,0.0,100.00,1020,1020,Electronics and Communication Engineering,0,NaN,NaN
50,Deivani.S,0.0,86.25,980,980,Electronics and Communication Engineering,0,NaN,NaN
51,Nivetha.S,0.0,50.00,950,950,Electronics and Communication Engineering,0,NaN,NaN
52,GUNAMATHI.S,0.0,77.00,850,850,Electronics and Communication Engineering,0,NaN,NaN
53,RANJITH.R,100.0,0.00,800,800,Electronics and Communication Engineering,0,NaN,NaN
54,u.abarna,3.0,39.00,770,770,Electronics and Communication Engineering,0,NaN,NaN
55,kaviyarasi.k,16.0,28.75,760,760,Electronics and Communication Engineering,0,NaN,NaN
57,M.PRIYA,43.0,24.00,690,690,Electronics and Communication Engineering,0,NaN,NaN
58,M.Nisha@mary,11.0,20.00,580,580,Electronics and Communication Engineering,0,NaN,NaN
60,muvendiran.m,100.0,7.50,410,410,Electronics and Communication Engineering,0,NaN,NaN
63,E.Nalini,3.0,0.00,270,270,Electronics and Communication Engineering,0,NaN,NaN
67,gousalya,56.0,27.00,170,170,Electronics and Communication Engineering,0,NaN,NaN
68,sivaranjini,0.0,3.75,160,160,Electronics and Communication Engineering,0,NaN,NaN
70,vignesh B,82.0,20.00,120,120,Electronics and Communication Engineering,0,NaN,NaN
73,rajesh kumar.r,30.0,0.00,100,100,Electronics and Communication Engineering,0,NaN,NaN
3,Bodipudi Harini,-1.0,35.00,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0
7,Gowtham R,-1.0,4.00,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
14,Praneetha,-1.0,100.00,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
16,Guhan S,-1.0,35.00,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
24,P.GOVARDHANAN,-1.0,0.00,5050,5050,Electronics and Communication Engineering,0,40.0,-1.0
29,Abishak s,-1.0,35.00,3220,3220,Electronics and Communication Engineering,0,55.0,6.0
31,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
32,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0

In [41]:
max2=ece["CodeKata Score"].max()
max2

10040

In [42]:
eee=data[data["Department"]=="Electronics and Electrical Engineering"]
eee

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
64,k.parvathi,100.0,100.0,260,260,Electronics and Electrical Engineering,0,NaN,NaN
71,m.keerthana,97.5,0.0,120,120,Electronics and Electrical Engineering,0,NaN,NaN
72,Subhashini,100.0,4.0,120,120,Electronics and Electrical Engineering,0,NaN,NaN
74,J.Bhuvaneshwari,100.0,20.0,100,100,Electronics and Electrical Engineering,0,NaN,NaN
75,santhosh,82.0,12.0,60,60,Electronics and Electrical Engineering,0,NaN,NaN
77,J.JAYANTHI,100.0,100.0,40,40,Electronics and Electrical Engineering,0,NaN,NaN
78,vikneshwaran,100.0,4.0,40,40,Electronics and Electrical Engineering,0,NaN,NaN
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0,NaN,NaN
0,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0
4,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
8,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
9,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
12,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0

In [43]:
max3=eee["CodeKata Score"].max()
max3

19400

In [50]:
import plotly.express as px
x1=["cse","ece","eee"]
y1=[max1,max2,max3]
fig=px.bar(x=x1,y=y1)
fig.show()